@media only screen and (max-width: 600px) {
  .nav { padding: 45px; margin: -80px auto; width: 100%;}
  .main {visibility: collapse;}
  .nav-reg {padding: 45px; margin: 0px auto; width: 100%;}
  .main-reg {visibility: collapse;}
  .w-10 { width: 40% !important; }
  .login-box, .forgot-box {margin: 10px;}
  .info-alert-gray { background:none; padding: 0px; border: none;}

  /* Name - Welcome */
  .welcome-title {font-size: 1.6rem; font-weight: 400;}
  .badge-icon { margin-top:-110px;}
  .badge-icon img {width: 20px;}

  /* Settings Icon */
  .fa-8x { font-size: 5em; }
}

@media screen 
  and (min-device-width: 1440px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) 
{

}